Django==1.7.6
dj-database-url==0.3.0
dj-static==0.0.6
django-braces==1.4.0
django-forms-bootstrap==3.0.1
django-jsonfield==0.9.13
django-model-utils==2.2
django-stripe-payments==2.0.0
django-toolbelt==0.0.1
djangorestframework==3.1.0
gunicorn==19.3.0
psycopg2==2.6
pytz==2014.10
requests==2.5.3
six==1.9.0
static3==0.5.1
stripe==1.21.0
wsgiref==0.1.2
